@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #1b1d21;
}

@import "./components/layouts/AppLayout/AppLayout";
@import "./components/structure/MainNews/MainNews";
@import "./components/structure/NewsCard/NewsCard";
@import "./components/structure/NewsDetail/NewsDetail";
@import './components/structure/CommentCard/CommentCard';