.NewsCard {
  width: 100%;
  margin-bottom: 15px;
  padding: 15px;
  //background-color: #fff;
  //border: 1px solid #ccc;
  //border-radius: 4px;
  //box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.23);
  box-shadow: 0 8px 32px 0 rgba(160, 160, 166, 0.12);
  backdrop-filter: blur( 16px );
  -webkit-backdrop-filter: blur( 16px );
  border-radius: 10px;

  p {
    margin-bottom: 10px;
    color: #ffffff
  }

  &:hover {
    cursor: pointer;
    background: #7c60fb;
  }
}


.NewsCard__Title {
  font-weight: bold;
  font-size: 22px;
}

.NewsCard__Footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.NewsCard__GreenText {
  color: #00ce57;
}

.NewsCard__Date {
  display: flex;
  align-items: center;

  img {
    margin-left: 5px;
  }
}